* {
    font-family: Arial;
}

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    height: 120px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 990px;

}

.logo {
    display: flex;
    align-items: center;
}

.menu {

    display: flex;
    align-items: center;
}

nav ul,
nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
}

a {
    font-size: 13px;


}

nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;


}

nav .active a,
nav a:hover {
    background-color: #39aae1;
    color: #FFFFFF;
}

#banner {
    background-image: url('../images/banner3.jpg');
    background-position: center;
    background-size: cover;
    height: 650px;
    display: flex;
    justify-content: center;


}

.column {
    flex-direction: column;
}

.banner_headline {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.banner_headline h1 {
    color: #FFFFFF;
    font-size: 70px;
    text-shadow: 0px 1px 0px #555555;
    margin: 0;
    padding: 0;
    max-width: 350px;
    font-weight: normal;
}

.banner_headline h2 {
    color: #FFFFFF;
    font-size: 20px;
    text-shadow: 0px 1px 0px #555555;
    margin: 0;
    padding: 0;
    max-width: 350px;
    margin-top: 30px;
    font-weight: normal;
}


.banner_options {
    height: 210px;
    display: flex;
}

.banner1,
.banner2,
.banner4 {
    flex: 1;
    color: #FFFFFF;
    padding: 20px;
}

.banner1 {
    background-color: #39aae1;
}

.banner2 {
    background-color: #0079c7;

}

.banner4 {
    background-color: #2b4c99;


}

.banner_title {
    font-size: 21px;

}

.banner_desc {
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: inherit;

}

.banner_options a {
    display: inline-block;
    border: 1px solid #FFFFFF;
    padding: 5px;
    color: #FFFFFF;
    font-size: 13px;
    text-decoration: none;
}

.itens {
    padding: 0px;
    justify-content: right;
    flex-direction: column;
    border-bottom: 1px solid rgba(209, 209, 209, 0.979);


}

.itens li {
    border-bottom: 1px solid rgba(209, 209, 209, 0.979);
    border-bottom-style: ridge;
    border-top-color: inherit;
    background-position: left center;
    background-repeat: no-repeat;
    list-style: none;

}

li {
    display: list-item;
    padding: 11px;
    justify-items: left;
    color: #FFFFFF;
    clear: both;


}

.itens .value {
    float: right;
    font-size: 14px;

}

span {
    font-size: 13px;
    color: #FFFFFF
}

#geral {
    display: flex;
    justify-content: center;
}

#geral section {
    flex: 2;
}


#geral aside {
    flex: 1;

}

.widget_title {
    margin-top: 30px;
    margin-bottom: 20px;

}

.widget_title_text {
    color: #000000;
    font-size: 21px;
    font-weight: normal;

}

.widget_title_text1 {
    color: #000000;
    font-size: 21px;
    font-weight: normal;

}

.widget_title_bar {
    width: 50px;
    height: 2px;
    background-color: #36a9e1;
    margin-top: 10px;
}

.widget_title_bar1 {
    width: 50px;
    height: 2px;
    background-color: #36a9e1;
    margin-top: 10px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

article {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}

article a {
    text-decoration: none;
}

article .news_data {
    display: flex;
}

article .news_posted_at {
    background-color: #2b4c99;
    color: #FFFFFF;
    font-size: 12px;
    padding: 10px;
    margin-right: 2px;
}

article .news_comments {
    background-color: #39aae1;
    color: #FFFFFF;
    font-size: 12px;
    padding: 10px;

}

article .news_thumbnail {
    margin-top: 30px;
}

article .news_thumbnail img {
    width: 100%;
    height: auto;
}

article .news_title {
    margin-top: 25px;
    margin-bottom: 25px;
    color: #000000;
    font-size: 23px;
}

article .news_resume {
    color: #5c5c5c;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 30px;
}

.widget_departments h3 {
    color: #FFFFFF;
    background-color: #3156a3;
    border-bottom: 1px solid #3156A3;
    background: #3156A3;
    padding: 10px 10px;
    margin-top: -13px;


}

.list1 img {
    width: 100px;
    float: left;
    margin: 14px;
}

.list1 p {
    color: #666;
    margin: 28px;
    padding: 15px;
    font-size: 13px;
    flex-wrap: wrap;
}


.icone_item,
.icone_item1 {
    background-color: #3156A3;
    float: right;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 15px;
    margin: 2px;
    padding: 8px;
}

.list_menu1 li {
    color: #666666;
    font-size: 20px;
    padding-top: 10px;
    list-style: none;
    line-height: 150%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;

}

.list_menu1 hr {
    color: #727272;
    opacity: 0.4;
    margin-top: 0%;
    padding-top: 0%;

}

.widget_body_make {
    font-size: 15px;
    color: #909090;
}

.widget_body_make hr {
    color: #727272;
    opacity: 0.4;
    margin-top: 0%;
    padding-top: 0%;
}

footer {
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
}

.footer_menu {
    display: flex;
    align-items: center;

}

.fm_1, .fm_2, .fm_3 {
    flex: 1;
    color: #FFFFFF;
    font-size: 21px;
    padding: 5px;
    width: 370px;
    height: 90px;


}

.fm_1 {
    background-color: #39aae1;

}

.fm_2 {
    background-color: #0079c7;
}

.fm_3 {
    background-color: #2b4c99;
}

.footer_menu a {
    display: block;
    text-decoration: none;
    padding: 0px 15px 5px 15px;
    color: #FFFFFF;
    background-position: right center;
    padding-right: 17px;

}

.desc {
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: inherit;
}

.fm_1p, .fm_1h, .fm_1l {
    margin-bottom: 10px;
    margin-left: 15px;
}

.footer_area {
    display: flex;


}

.widget_body {
    color: #909090;
    font-size: 14px;
    line-height: 150%;

}

.contact_itens {
    display: flex;
    line-height: 150%;
}

ul {
    padding: 2px;
    width: 100%;
    list-style: none;
    color: #909090;
}



.contact_info1 {
    color: #909090;


}

.contact_info_1 {
    float: left;
    color: #909090;
    font-size: 14px;
    font-family: Arial;





}

.contact_info_3 {
    float: left;
    color: #909090;
    font-size: 14px;


}

.contact_info_5 {
    float: left;
    color: #909090;
    font-size: 14px;


}

.contact_info_2 {
    color: #909090;
    float: right;
    font-size: 14px;

}

.contact_info_4 {
    color: #909090;
    float: right;
    font-size: 14px;

}

.contact_info_6 {
    color: #909090;
    float: right;
    font-size: 14px;

}

.social_midia ul li {
    display: inline;

}

li img {
    height: 20px;
    flex: 1;

}


.footer_areaitem {
    flex: 1;
    color: #FFFFFF;
}

.FlexCollum {
    flex-direction: column;

}

footer .widget_title_text {
    color: #FFFFFF;
}

.footer_copy {
    border-top: 1px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    color: #5c5c5c;
    font-size: 12px;
    margin-top: 30px;
}

.icon a {
    display: inline-block;
    text-decoration: none;
    color: #d5d5d5;
    font-size: 14px;
    outline: none;
    clear: both;
    padding-left: 10px;
    line-height: 25px;
    width: 100%;
}


.timeago {
    text-decoration: none;
    font-size: 11px;
    color: #4eb3e5;
    padding: 10px;
    line-height: 35px;
    margin-top: 2px;
}

.icon1 a {
    display: inline-block;
    text-decoration: none;
    color: #909090;
    font-size: 13px;
    padding: auto;
    outline: none;
    clear: both;
    padding-left: 10px;
    line-height: 150%;
    flex-wrap: wrap;
    width: 100%;
}

.menu_mobile {
    display: none;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
}

.mm_line {
    height: 3px;
    background-color: #39aae1;
}

@media (max-width:600px) {
    .banner_headline h1 {
        padding: 20px;
    }

    .banner_headline h1 {
        font-size: 55px;
    }

    .banner_headline h2 {
        padding: 20px;
        font-size: 17px;
    }

    .banner_headline {
        flex-direction: row;
    }

    .widget_title_text1 {
        margin-top: 125px;
    }

    .banner_options {
        height: auto;
        flex-direction: column;
    }

    .container {
        flex-direction: column;

    }

    #geral section,
    #geral aside {
        padding: 20px;
    }

    .footer_menu {
        flex-direction: column;
    }

    .footer_area {
        flex-direction: column;
        padding: 20px;
    }

    .footer_copy {
        padding-left: 20px;
    }

    header .container {
        flex-direction: row;
    }

    nav ul {
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #FFFFFF;

    }

    header {
        height: auto;
    }

    .logo {
        padding-left: 20px;
    }

    .menu_mobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }


}

@media (max-width:400px) {
    .banner_headline {
        flex-direction: row;
    }

    .banner_headline h1 {
        padding: 15px;
    }

    .banner_headline h1 {
        font-size: 40px;
    }

    .banner_headline h2 {
        padding: 20px;
        font-size: 13px;
    }

    .widget_title_text1 {
        margin-top: 100px;
    }

    .banner_options {
        height: auto;
        flex-direction: column;
    }

    .container {
        flex-direction: column;

    }

    #geral section,
    #geral aside {
        padding: 20px;
    }

    .footer_menu {
        flex-direction: column;
    }

    .footer_area {
        flex-direction: column;
        padding: 20px;
    }

    .footer_copy {
        padding-left: 20px;
    }

    header .container {
        flex-direction: row;
    }

    nav ul {
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #FFFFFF;

    }

    header {
        height: auto;
    }

    .logo {
        padding-left: 20px;
    }

    .menu_mobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }


}